<div class="row ml-sm-5 ml-xs-2 mt-5 ">

  <div class="col-sm-8 col-xs-12 mt-2">
    <div>
      <tabset >
        <tab heading="Live / Upcoming"  id="tab1">
          <div *ngIf="loaded">
            <div *ngFor="let x of upEvents">
              <app-event-card [event]="x"></app-event-card>
            </div>
          </div>
          <div *ngIf="!loaded" class="my-class">
            <div class="loader">Loading...</div>
          </div>
        </tab>
        <tab heading="Past">
          <div *ngIf="loaded" style="min-height: 400px;">
            <div *ngFor="let x of pEvents">
              <app-event-card [event]="x"></app-event-card>
            </div>
          </div>
          <div *ngIf="!loaded" class="my-class">
            <div class="loader">Loading...</div>
          </div>
        </tab>
      </tabset>
    </div>
  </div>
</div>
